<section class="bg-black h-screen w-screen text-center relative overflow-hidden">
    <div class="relative z-30 h-full flex flex-col">
        <header class="">
            <h2 class="text-white pt-40 text-[40px] font-medium">
                Ships
            </h2>
            <p class="text-white text-sm">
                One piece
            </p>
        </header>
        <footer class="flex flex-col flex-grow justify-end pb-20">
            <div>
                <a class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm 
                rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors  " 
                href="https://onepiece.fandom.com/wiki/Category:Pirate_Ships">WANNA BECOME THE KING OF PIRATES?</a>
            </div>	
            
        </footer>
    </div>
            
            <div class="absolute top-0 bottom-0 h-full w-full">
 <img src="/public/one2.jpg" alt="">
        </div>
        </section>