
<header class="py-4 px-10 flex items-center fixed top-0 w-full justify-between z-40 text-white">
    <div class="flex flex-grow basis-0">
        <logo />
    </div>
    
    <nav> <ul class="flex text-sm [&>li>a]:incline-block [&>li>a]:px-4 [&>li>a]:py-2 ">
        <li><a href="#">Worst Generation</a></li>
        <li><a href="#">Ships</a></li>
    </ul></nav>
</header>
<section class="bg-black h-screen w-screen text-center relative overflow-hidden">
    <div class="relative z-30 h-full flex flex-col">
        <header class="">
            <h2 class="text-white pt-40 text-[40px] font-medium">
                ONE piece
            </h2>
            <p class="text-white text-sm">
                The Worst Generation
            </p>
        </header>
        <footer class="flex flex-col flex-grow justify-end pb-20">
            <div>
                <a class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm 
                rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors  " 
                href="https://onepiece.fandom.com/wiki/Worst_Generation">One piece</a>
            </div>	
            
        </footer>
    </div>
            
            <div class="absolute top-0 bottom-0 h-full w-full z-10">
            <img src="./One1.jpg" alt="">
        </div>
        </section>