---
---


<header class="py-4 px-10 flex items-center fixed top-0 w-full justify-between z-40 text-white">
    <div class="flex flex-grow basis-0">
        <logo />
    </div>
    
    <nav> <ul class="flex text-sm [&>li>a]:incline-block [&>li>a]:px-4 [&>li>a]:py-2 ">
        <li><a href="#">Worst Generation</a></li>
        <li><a href="#">Ships</a></li>

    </nav>

</header>